# NPMファイル・プラグイン
###################
node_modules
package-lock.json
yarn.lock
yarn-error.log

# OSで生成されるファイル
####################
.DS_Store
.DS_Store?
._*
_.DS_Store
.Spotlight-V100
Thumbs.db
.idea
.~*
.directory

# アーカイブ
##########
*.7z
*.zip
*.gz
*.tar
gulp.config.js

# Parcel
#########
dist
.cache

